/* Criar classe css, siga esse padrão: .nomeClasseHome  */

.headerHome {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
}

button{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: #f2f2f2;
}

.material-icons{
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}