.fieldsetRegister{
    width: 100%;
    padding: 10px;
}

.fieldsetRegister legend{
    font-size: 1.4em;
    font-weight: 600;
}

#blocoR label{
    /* margin: 10px; */
    /* border: 2px solid red; */
    display: flex;
    gap: 10px;
}

#blocoR label input{
    /* color: red; */
    height: 20px;
    width: 20px;
    
    
}

