.atalhos {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.atalhos button {
    background-color: #fff;
    border: none;
    font-size: 14px;
    text-align: center;
    color: #555;
}

.atalhos button:hover {
    color: #f8931f;
    transition: color 0.3s ease;
}
