.containerBalanceComponents {
  border: 2px solid #dbdbdb;
  font-size: 1.4em;
  width: 90%;
  font-weight: 600;
  color: #b6b6b6;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 750px;
  background-color: #fff;
}

.containerBalanceComponents p:nth-of-type(2) {
  color: #000;
}
