*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ff7a00;
  padding: 20px;
}

.sectionForm {
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.molduraPessoaInterRL {
  width: 100%;
  max-width: 400px;
  height: auto;
  aspect-ratio: 1 / 1.8;
  background-image: url("./assets/fotoFormPessoaCadastro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px 0 0 5px;
}

.molduraPessoaInterRL img {
  width: 100%;
  height: auto;
}

.formRL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  gap: 10px;
  padding: 20px;
  border-radius: 0 5px 5px 0;
  width: 100%;
  max-width: 350px;
}

.molduraLogoInterRL {
  width: 100%;
  max-width: 250px;
  margin-top: 10px;
}

.molduraLogoInterRL img {
  width: 100%;
  height: auto; 
}

.formRL .blocoRL {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  width: 100%;
}

.blocoRL {
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.blocoRL input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid #cccccc;
}

.blocoRL input:focus {
  outline: none;
  border-bottom: 2px solid #ff7a00;
}

.blocoRL label {
  font-weight: bold;
}

.buttonRL {
  background-color: #ff7a00;
  font-size: 1.6em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonRL:hover {
  background-color: #e66a00;
}

.paragrafoRL {
  font-size: 1.6em;
  font-weight: 450;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.linkRL {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.linkRL:hover {
  color: #ff7a00;
}

@media (max-width: 772px) {
  .molduraPessoaInterRL {
      display: none;
  }
  .formRL {
      border-radius: 5px;
      width: 100%;
      max-width: 100%;
  }
}
